.entry-div{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    min-width: 300px;
    text-align: center;
    color:#4d4d4d;
}

.entry-div img {
    max-width: 400px;
    margin-bottom: 120px;
}

.entry-div a {
    font-size: 60px;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #4d4d4d;
    font-weight: lighter;
}